<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="row align-items-center">
  <div class="col">
      <div class="card" style="width: 35rem;">
          <div class="card-header">
            Current Projects
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Spu</li>
            <li class="list-group-item">Bloemfontein</li>
            <li class="list-group-item">Waterfall</li>
          </ul>
        </div>
  </div>
  <div class="col">
      <div class="card" style="width: 35rem;">
          <div class="card-header">
            Future Projects
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Spitz</li>
            <li class="list-group-item">Mug&Bean</li>
            <li class="list-group-item">Checkers</li>
          </ul>
        </div>
  </div>
  <div class="col">
      <div class="card" style="width: 35rem;">
          <div class="card-header">
            Past Projects
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Sasol</li>
            <li class="list-group-item">Telkom</li>
            <li class="list-group-item">De Beers</li>
          </ul>
        </div>
  </div>
</div>