<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Lebogang Mogamisi</h5>
    
    </div>
    <p class="mb-1"> <span class="font-weight-bold">From:</span> 15 April 2019 </p>
    <p class="mb-1"><span class="font-weight-bold">To: </span>  18 April 2019 </p>
   
  </a>

  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Thembela</h5>
      
      </div>
      <p class="mb-1"><span class="font-weight-bold">From:</span> 18 April 2019 </p>
      <p class="mb-1"><span class="font-weight-bold">To:</span>   19 April 2019 </p>
     
    </a>

    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Kgomotso Africa</h5>
        
        </div>
        <p class="mb-1"><span class="font-weight-bold">From: </span> 22 April 2019 </p>
        <p class="mb-1"><span class="font-weight-bold">To: </span>  24 April 2019 </p>
       
      </a>
 
</div>