<form class="form-compact">
  <div class="row paddingBottom20">
      <div class="container col-6">
        
          <div class="dropdown-divider "></div>
          <div class="form-group row">
              <label for="firstName" class="col-4 col-form-label-sm text-right">First Name:</label> 
              <div class="col-8">
                  <div class="input-group"> 
                    <input id="text" type="text"  name="text" class="form-control form-control-sm"/>
                  </div>
              </div>
          </div> 
          <div class="form-group row align-items-center">
              <label for="lastName" class="col-4 col-form-label-sm text-right">Last Name:</label> 
              <div class="col-8">
                <div class="input-group"> 
                  <input id="text" type="text"  name="text" class="form-control form-control-sm"/>
                </div>
              </div>
          </div>

          <div class="form-group row align-items-center">
            <label for="eid" class="col-4 col-form-label-sm text-right">EID:</label> 
            <div class="col-8">
              <div class="input-group"> 
               
                <input id="text" type="text"  name="text" class="form-control form-control-sm"/>
              </div>
            </div>
        </div>

        <div class="form-group row align-items-center">
            <label for="password" class="col-4 col-form-label-sm text-right">New Password:</label> 
            <div class="col-8">
              <div class="input-group"> 
                  <input id="password" type="password"  name="text" class="form-control form-control-sm"/>
              </div>
            </div>
        </div>

 
       
      
          <div class="form-group row align-items-center">
              <label for="cell" class="col-4 col-form-label-sm text-right">Confirm password:</label> 
              <div class="col-8">
                <div class="input-group">
                  <input id="text" type="password"  name="password" class="form-control form-control-sm"/>
                </div>
                  <br>
                  <button type="button mx-auto" class="btn btn-dark align-items-center ">Submit</button>
              </div>

              
       

            
              
         
             
          </div>
          
       
        
      </div>
  </div>
</form>
