<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<app-nav></app-nav>
<div class="card mx-auto" style="width: 25rem; ">
  <img src= "/assets/bootstrap.jpg" class="card-img-top" alt="...">
  <div class="card-body">
   
    <div class="info"><span class="font-weight-bold">Skill Name: </span>bootstrap</div><br>
    <div class="info"><span class="font-weight-bold">Origin: </span> University </div><br>
    <div class="info"><span class="font-weight-bold">Skill Level: </span>12</div>
    <div class="info"><span class="font-weight-bold">Last Used:</span> Angular and bootstrap</div><br>
    <div class="info"><span class="font-weight-bold">Months of Active Experiance: </span> 5 Months </div><br>
    <div class="info"><span class="font-weight-bold">Skill development: </span> </div><br>
    
    

  </div>
</div>