<br>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<table class="table table-hover">

  <thead>
    <th>Name</th>
    <th>Surname</th>
    <th>Cell Number</th>
    <th>Level</th>
    <th>Eid</th>
    <th>Update</th>
    <th>Delete</th>
    <th>View</th>
  </thead>
  <tbody>
      <tr>
          <td>Colleen</td>
          <td>Leeuw</td>
          <td>0671238945</td>
          <td>level 12</td>
          <td>colleen.@accenture.com</td>
          <td><a class="btn text-primary">Update</a></td>
          <td><a class="btn text-danger"><span class="glyphicon glyphicon-trash"></span>Delete</a></td>
          <td><a class="btn text-primary" href="/profile">View</a></td>
          
        </tr>
      <tr>
          <td>Tlhalefo</td>
          <td>Mokopudi</td>
          <td>0671238945</td>
          <td>level 12</td>
          <td>tlhalefo.mokopudi@accenture.com</td>
          <td><a class="btn text-primary">Update</a></td>
          <td><a class="btn text-danger"><span class="glyphicon glyphicon-trash"></span>Delete</a></td>
          <td><a class="btn text-primary" href="/profile">View</a></td>
          
        </tr>
      <tr>
          <td>Thembela</td>
          <td>Daphula</td>
          <td>0671238945</td>
          <td>level 12</td>
          <td>thembela.daphula@accenture.com</td>
          <td><a class="btn text-primary">Update</a></td>
          <td><a class="btn text-danger"><span class="glyphicon glyphicon-trash"></span>Delete</a></td>
          <td><a class="btn text-primary" href="/profile">View</a></td>
        
   
    <tr>
      <td>Lebogang</td>
      <td>Mogamisi</td>
      <td>0671238945</td>
      <td>level 12</td>
      <td>Lebogang.mogamisi@accenture.com</td>
      <td><a class="btn text-primary">Update</a></td>
      <td><a class="btn text-danger"><span class="glyphicon glyphicon-trash"></span>Delete</a></td>
    
      <td><a class="btn text-primary" href="/profile">View</a></td>
      
    </tr>
   
  </tbody>
</table>


       

