<br>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div style="text-align:center">

    <div class="row align-items-center">

        <div class="col">
            <div class="card" style="width: 35rem;">
                <div class="card-header">
                        <div class="profile-img">
                            <img src="/assets/icon1.svg " />
                        </div>
                        <h2><a class="nav-link" href="/profile" >Tlhalefo Mokopudi</a></h2>
                </div>
                 <div class="profile-info">
                    <div class="info"><span class="">EID: </span>tlhalefo.mokopudi@accenture.com</div><br>
                    <div class="info"><span class="">skills:</span> Angular and bootstrap</div>
                    <div class="info"><span class="">skills Level:</span>7</div>
                </div>

              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 35rem;">
                <div class="card-header">
                        <div class="profile-img">
                                <img src="/assets/icon1.svg " />
                            </div>
                     Colleen Leeuw
                </div>
                <div class="info"><span class="">e-mail address: </span>Colleen.leeuw@accenture.com</div><br>
                <div class="info"><span class="">contact details: </span> 061 435 1236</div><br>
                <div class="info"><span class="">skills:</span> Firebase and Ionic</div>
  
            
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 35rem;">
                <div class="card-header">
                        <div class="profile-img">
                                <img src="/assets/icon1.svg " />
                            </div>
                   
                     Thembela Daphula
                </div>
                <div class="info"><span class="">e-mail address: </span>thembela.daphula@accenture.com</div><br>
                <div class="info"><span class="">contact details: </span> 061 6932 243</div><br>
                <div class="info"><span class="">skills:</span> Firebase and Ionic</div>
  
              </div>
        </div>
      </div>



