<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<app-nav></app-nav>
<div class="card mx-auto" style="width: 25rem; ">
  <img src= "/assets/icon1.svg" class="card-img-top" alt="...">
  <div class="card-body">
    <h2 class="profile-name">Tlhalefo Mokopudi</h2>
    <div class="info"><span class="font-weight-bold">EID: </span>tlhalefo.mokopudi@accenture.com</div><br>
    <div class="info"><span class="font-weight-bold">Status: </span> Hard locked</div><br>
    <div class="info"><span class="font-weight-bold">Contact details: </span> 060 491 6932</div>
    <div class="info"><span class="font-weight-bold">Skills:</span> Angular and bootstrap</div><br>
    <div class="info"><span class="font-weight-bold">Origin: </span> University </div><br>
    <div class="info"><span class="font-weight-bold">Skill level: </span> 7</div><br>
    <div class="info"><span class="font-weight-bold">Months of Active Experiance: </span> 12 April 2019</div><br>
    
    

  </div>
</div>