<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<form class="form-compact">
  <div class="row paddingBottom20">
      <div class="container col-4">
        
          <div class="dropdown-divider mb-3"></div>
          <div class="form-group row">
              <label for="ProjectName" class="col-4 col-form-label-sm text-right">Project Name:</label> 
              <div class="col-8">
                  <div class="input-group "> 
                      <input id="text" type="text"  name="text" class="form-control form-control-sm"/>
                  </div>
              </div>
          </div> 
          <div class="form-group row align-items-center">
              <label for="StartDate" class="col-4 col-form-label-sm text-right">Start Date:</label> 
              <div class="col-8">
                <div class="input-group"> 
                    <input id="text" type="text"  name="text" class="form-control form-control-sm"/>
                </div>
              </div>
          </div>

          <div class="form-group row align-items-center">
            <label for="company" class="col-4 col-form-label-sm text-right">Company:</label> 
            <div class="col-8">
              <div class="input-group"> 
                  <input id="text" type="text"  name="text" class="form-control form-control-sm"/>
              </div>
            </div>
        </div>
        <div class="form-group row align-items-center">
            <label for="location" class="col-4 col-form-label-sm text-right">Location:</label> 
            <div class="col-8">
              <div class="input-group"> 
                  <input id="text" type="text"  name="text" class="form-control form-control-sm"/>
              </div>
            </div>
        </div>

          <div class="form-group row align-items-center">
              <label for="description" class="col-4 col-form-label-sm text-right">Description:</label> 
              <div class="col-8">
                <div class="input-group">
                    <input id="text" type="text"  name="text" class="form-control form-control-sm"/>
                </div>
                  <br>
                <button type="button" class="btn btn-dark align-items-center ">Submit</button>
              
              </div>

              
             
          </div>
          
       
        
        
      </div>
  </div>
</form>

